/ {
    aliases {
        ledtest0 = &sim_ledtest1;
        ledtest1 = &sim_ledtest2;
        buttontest0 = &sim_buttontest1;
        buttontest1 = &sim_buttontest2;
        buttontest2 = &sim_buttontest3;
    };

    sim_leds {
        compatible = "gpio-leds";
        sim_ledtest1: led_10 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            label = "SIM_LEDTEST";
        };
        sim_ledtest2: led_11 {
            gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
            label = "SIM_LEDTEST";
        };
    };
    
    sim_keys {
        compatible = "gpio-keys";
        sim_buttontest1: key_14 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "sim_buttontest1";
            zephyr,code = <1>; /* KEY_ESC */
        };
        sim_buttontest2: key_15 {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            label = "SIM_buttontest2";
            zephyr,code = <1>; /* KEY_ESC */
        };
        sim_buttontest3: key_16 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "SIM_buttontest3";
            zephyr,code = <1>; /* KEY_ESC */
        };
    };
};

&gpio0 {
    status = "okay";
};