/ {
    zephyr,user {
      io-channels = <&adc_emul 0>;
    };

    aliases {
      readbutton = &button0;
      sleepbutton = &button1;
      resetbutton = &button2;

      heartbeat = &led0;
      blinker   = &led1;
      error     = &led2;

      vadc      = &vadc_ch;
    };

    sim_adc_leds {
      compatible = "gpio-leds";
      sim_adc_led1: led_20 { gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>; };
      sim_adc_led2: led_21 { gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>; };
      sim_adc_led4: led_23 { gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>; };
    };

    sim_adc_keys {
      compatible = "gpio-keys";

      sim_adc_btn1: key_24 {
        gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        zephyr,code = <0>;
      };

      sim_adc_btn2: key_25 {
        gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
        zephyr,code = <1>;
      };

      sim_adc_btn3: key_26 {
        gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        zephyr,code = <2>;
      };

      sim_adc_btn4: key_27 {
        gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        zephyr,code = <3>;
      };
    };

    adc_emul: adc_emul {
      compatible = "zephyr,adc-emul";
      nchannels = <1>;
      ref-internal-mv = <600>;

      #io-channel-cells = <1>;
      #address-cells = <1>;
      #size-cells = <0>;

      status = "okay";

      vadc_ch: channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_5";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
      };
    };
};

&gpio0 {
  status = "okay";
};